Makefile
Makefile.in
*.la
*.lo
.deps
.libs
stamp-h1
autom4te.cache
aclocal.m4
compile
depcomp
configure
config.status
config.log
config.guess
config.sub
config.h
config.h.in
libtool
ltmain.sh
install-sh
missing
